body {
    margin: 0;
    background-color: rgb(188, 154, 214);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'apink ared'
    'apurple ablue';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: ablue;
    background-color: rgb(97, 102, 232);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: ared;
    background-color: rgb(232, 97, 97);
    border-top-right-radius: 100%;
}

.pink{
    grid-area: apink;
    background-color: rgb(232, 104, 230);
    border-top-left-radius: 100%;
}

.purple {
    grid-area: apurple;
    background-color: rgb(165, 84, 227);
    border-bottom-left-radius: 100%;
}

.selected {
    opacity: 0.8;
}