body {
  margin: 0;
  background-color: rgb(172, 128, 217);
  
}
.main-game{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius{
  display: grid;
  grid-template-areas: 'blue red' 'purple pink';
  grid-gap: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 100%;
  width: 700px;
  height: 700
}